extends layout

include mixins/_thanks
include mixins/_storeCard
include mixins/_pagination

block content
  .inner
    h2= title
    +thanks
    .stores
      each store in stores
        +storeCard(store)
    +pagination(page, pages, count)    