mixin thanks()


  .inner

    h2.title I've Finished Course
    h2.title Special thanks to God,
    h2.title My wife Joanna, children for encourage, and
    h2.title The best Node.js teacher Wes Bos 
    h3.title
      a(href=`https://learnnode.com/`) LEARNNODE.COM
    h4.title This page is not a poduction page. It's only for learning. Use it for good.
    h4   